# Output
/paleocar_test
/paleocar_test/*
/inst/out
/inst/out/*

# Mac trash files
.DS_Store
*/.DS_Store

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/
.Rproj.user
